body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

#fade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease;
  z-index: 10;
}

#fade.active {
  opacity: 1;
}

body {
  margin: 0;
  overflow: hidden;
}
canvas.webgl {
  display: block;
}
